<!doctype html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Shopping Hut</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="https://themebeyond.com/html/geco/Geco/img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="https://themebeyond.com/html/geco/Geco/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin.css' %}">
        <link rel="stylesheet" href="https://themebeyond.com/html/geco/Geco/css/responsive.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>

 </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <div class="header_img ">
                <a class="point" href="{% url 'Cart' %}"><i class="nav_logo-icon">
        <i class="fa fa-shopping-cart"></i>
                </i>
                    {% for message in messages %}
                    <h6 style="
    margin-top: -27px;
    margin-left: 7px;
    margin-bottom: 147px;
    color: #4947fc;
">{{message}}</h6>
                    {% endfor%}
                </a>
            </div>
        </header>
        <div class="l-navbar neonBox-red" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="{% url 'DashBoard' %}" class="nav_logo">
                        <i class='bx bx-home-alt nav_logo-icon'></i> <span class="nav_logo-name">Customer Panel</span>
                    </a>
                    <div class="nav_list">
                        <a href="{% url 'DashBoard' %}" class="nav_link active">
                            <div class="icons-temp">
                                <i class='bx bx-grid-alt nav_icon'></i>
                            </div>
                            <span class="nav_name">Dashboard</span>
                        </a>
                        <a href="{% url 'UpdateProfile' %}" class="nav_link">
                            <div class="icons-temp">
                                <i class='bx bx-user nav_icon'></i>
                            </div>
                            <span class="nav_name">Update Information</span>
                        </a>
                        <a href="{% url 'Categories' %}" class="nav_link">
                            <div class="icons-temp">
                                <i class='bx bx-grid-alt nav_icon'></i>
                            </div>
                            <span class="nav_name">Display Categories</span>

                        </a>


                        <a href="{% url 'manageorders' %}" class="nav_link">
                            <div class="icons-temp">
                                <i class='fa fa-shopping-cart'></i>
                            </div>
                            <span class="nav_name">View Orders</span>
                        </a>

                        <a href="{% url 'DeleteAccount' %}" class="nav_link">
                            <div class="icons-temp">
                                <i class='bx bx-user nav_icon'></i>
                            </div>
                            <span class="nav_name">Delete Account</span>
                        </a>

                    </div>
                </div>  <a href="{% url 'logout' %}" class="nav_link">
                            <div class="icons-temp">
                                <i class='bx bx-log-out nav_icon'></i>
                            </div>
                            <span class="nav_name">Log Out</span>
                        </a>
            </nav>
        </div>

        <!--Container Main start-->
        <div class="mainArea" style="color: black;">
            <div class="container">
                <div class="row">
                <div class="col-6">
                    <h2 style="color: black; margin-top:85px;">{{SearchValue}}</h2>
                    <br>
                </div>
                <div style="text-align: right; margin-top:50px;" class="col-6">
                    <form action="searchinpanel" method="get">
                        <br>
                        <input type="text" placeholder="Search" name="searchbox" style="padding: 10px; border: none; border-radius: 10px; width: 45%;">
                        <button type="submit" class="point" style="padding: 10px; border : 2px solid #2b75ff; background-color: transparent; color: #2b75ff; border-radius: 10px; padding-top: 5px; padding-bottom: 5px;"><b><i class='bx bx-search'></i></b></button>
                    </form>
                    <div>
                            <a href="{% url 'AdvancedSearch' %}">
                        <button type="button" class="point" style="background-color: #2b75ff00;/* color: #2b75ff; *//* border-radius: 18px; *//* color: white; */border:none;/* padding: 20px; *//* padding-top: 10px; *//* padding-bottom: 10px; */margin: 7px 165px;"><b>Advanced Search</b></button>
                        </a>
                    </div>
                </div>
                </div>
            </div>
            <br><br>

            <br><br><br>
        </div>


        <div class="container d-flex justify-content-center mt-50 mb-50">

            <div class="row">
            {% for product in allproducts %}
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions"> <img src="{{product.prodimg}}" class="card-img img-fluid" width="96" height="250" alt=""> </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true" style="color:black;">{{product.prodname}}</a> </h6> <a href="#" class="text-muted" data-abc="true"></a>
                        </div>
                        <h5 class="mb-0 font-weight-semibold" style="color:black;">Rs {{product.getprice}}</h5>

                        <button type="submit" class="btn bg-cart" value="{{product.prodid}}" onclick="addtocart(this)"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                        <button type="submit" class="btn bg-cart" value="{{product.prodid}}" onclick="buynow(this)" style="margin-top: 20px;"><i class="fa fa-cart-arrow-down mr-2"></i>Buy now</button>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>



<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


const data = {
  labels: [
    'Eating',
    'Drinking',
    'Sleeping',
    'Designing',
    'Coding',
    'Cycling',
    'Running'
  ],
  datasets: [{
    label: 'My First Dataset',
    data: [65, 59, 90, 81, 56, 55, 40],
    fill: true,
    backgroundColor: 'rgba(255, 99, 132, 0.2)',
    borderColor: 'rgb(255, 99, 132)',
    pointBackgroundColor: 'rgb(255, 99, 132)',
    pointBorderColor: '#fff',
    pointHoverBackgroundColor: '#fff',
    pointHoverBorderColor: 'rgb(255, 99, 132)'
  }, {
    label: 'My Second Dataset',
    data: [28, 48, 40, 19, 96, 27, 100],
    fill: true,
    backgroundColor: 'rgba(54, 162, 235, 0.2)',
    borderColor: 'rgb(54, 162, 235)',
    pointBackgroundColor: 'rgb(54, 162, 235)',
    pointBorderColor: '#fff',
    pointHoverBackgroundColor: '#fff',
    pointHoverBorderColor: 'rgb(54, 162, 235)'
  }]
};

const ctx1 = document.getElementById('myChart1').getContext('2d');
const myChart1 = new Chart(ctx1, {
type: 'radar',
  data: data,
  options: {
    elements: {
      line: {
        borderWidth: 3
      }
    }
  },
});
</script>
        <!--Container Main end-->
        <!-- main-area-end -->

<script>
    function addtocart(prodId)
    {
            var d = new Date();
            d.setTime(d.getTime() + (10*1000));
            var expires = "expires=" + d.toUTCString();
            var s = "prodcookie";
            document.cookie = s + "=" + prodId.value + ";" + expires + ";path=/Addtocart";
            console.log(document.cookie);
            var url="{% url 'Addtocart' %}";
            document.location.href =url
    };

     function buynow(prodId)
    {
            var d = new Date();
            d.setTime(d.getTime() + (3600*1000));
            var expires = "expires=" + d.toUTCString();
            var s = "prodcookie";
            document.cookie = s + "=" + prodId.value + ";" + expires + ";path=/BuyProduct";
            console.log(document.cookie);
            var url="{% url 'BuyProduct' %}";
            document.location.href =url
    };


</script>
		<!-- JS here -->
        <script src="https://themebeyond.com/html/geco/Geco/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{% static 'js/product.js' %}"></script>
    </body>
</html>